<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Manage Payment</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active">Manage Payment</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
    <hr>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header ui-sortable-handle">
                <h3 class="card-title">
                    <i class="fas fa-chart-pie mr-1"></i>
                    Payments List
                </h3>
                <div class="card-tools">
                    <ul class="nav nav-pills ml-auto">
                        <div class="form-group mr-4">
                            <input type="text" class="form-control" name="searchText" placeholder="Search" value=""
                                (keyup)="applyFilter($event)" />
                        </div>
                        <li class="nav-item" style="cursor: pointer;">
                            <button class="btn btn-info" (click)="AdvanceSearch(advancesearch)">Advance Search</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body" *ngIf="has_PaymentList && !IsLoadingMain">
                <div class="max-height-matTable">
                    <mat-table [dataSource]="dataSource" matSort>

                        <ng-container matColumnDef="UserName">
                            <mat-header-cell *matHeaderCellDef> User Name </mat-header-cell>
                            <mat-cell *matCellDef="let row" title="{{row.FirstName == null || row.FirstName == '' || 
                            row.LastName == null || row.LastName == '' ? '-' : row.FirstName}} {{row.LastName}}">
                                {{row.FirstName == null || row.FirstName == '' ||
                                row.LastName == null || row.LastName == '' ? '-' : row.FirstName}} {{row.LastName}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="PaymentDate">
                            <mat-header-cell *matHeaderCellDef> Payment Date</mat-header-cell>
                            <mat-cell *matCellDef="let row" title="{{row.Time == null || 
                            row.Time == '' || row.Time == '0001-01-01T00:00:00' ? '-' : row.Time| date:
                            'dd/MM/YYYY hh:MM:SS'}}"> {{row.Time == null ||
                                row.Time == '' || row.Time == '0001-01-01T00:00:00' ?
                                '-' : row.Time| date:'dd/MM/YYYY hh:MM:SS'}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="PaymentExpiryDate">
                            <mat-header-cell *matHeaderCellDef> Payment Expiry Date </mat-header-cell>
                            <mat-cell *matCellDef="let row" title="{{row.PaymentExpiryDate == null || 
                                row.PaymentExpiryDate == '' ? '-' : row.PaymentExpiryDate| date:
                                'dd/MM/YYYY hh:MM:SS'}}"> {{row.PaymentExpiryDate == null ||
                                row.PaymentExpiryDate == '' ? '-' : row.PaymentExpiryDate| date:
                                'dd/MM/YYYY hh:MM:SS'}}
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                        </mat-row>
                    </mat-table>
                </div>
                <mat-paginator [pageSizeOptions]="[10, 25, 100, 500]" style="border-top: 1px solid rgb(177, 175, 175);">
                </mat-paginator>
            </div>
            <div class="card-body" *ngIf="has_PaymentList == false">
                <div class="max-height-matTable">
                    <div class="profile_deatil mt-4">
                        <p class="not_found">No Records Found</p>
                    </div>
                </div>
            </div>
            <div class="card-body" *ngIf="IsLoadingMain">
                <div class="max-height-matTable">
                    <ng-container>
                        <span class="spinner-border-main spinner-border-main" style="width: 30px;height: 30px;"></span>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</section>


<ng-template #advancesearch let-c="close" let-d="dismiss">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Advance Search</h5>
            <button (click)="ClosePopup()">
                <span>&times;</span>
            </button>
        </div>
        <form [formGroup]="AdvanceSearchForm" (ngSubmit)="SearchForm()">
            <div class="modal-body">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" formControlName="Name">
                </div>
                <div class="form-group">
                    <label>Payment Plan Expiry Date</label><br>
                    <mat-form-field appearance="fill">
                        <mat-label>From date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="FromDate" (dateChange)="MinToDate()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>&nbsp;&nbsp;
                    <mat-form-field appearance="fill">
                        <mat-label>To date</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="ToDate" [min]="MinToDateValue">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <label>Payment Plan Expiry Date</label><br>
                    <mat-form-field appearance="fill">
                        <mat-label>From date</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="FromDate" (dateChange)="MinToDate()">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>&nbsp;&nbsp;
                    <mat-form-field appearance="fill">
                        <mat-label>To date</mat-label>
                        <input matInput [matDatepicker]="picker1" formControlName="ToDate" [min]="MinToDateValue">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <hr>
            <div class="model-footer float-right mb-3 mr-1">
                <button type="submit" class="btn btn-info">Apply</button>&nbsp;
                <button type="button" class="btn btn-success" (click)="AdvanceSearchFormReset()">Reset</button>
            </div>
        </form>
    </div>
</ng-template>